<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    {{- partial "head.html" . -}}
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body>
           {{- partial "header.html" . -}} 
            <!-- {{- partial "header2.html" . -}}   -->
           <!-- {{- partial "header3.html" . -}}   -->
        <div class="heroSection">
            <div class="">
                {{- partial "hero.html" . -}}
            </div>
        </div>
        <section class="featureSection">
            <div class="container">
                {{- partial "features.html" . -}}
            </div>
        </section>
        <section class="gallerySection">
            <div class="container">
                {{- partial "gallery.html" . -}}
            </div>
        </section>
        <section class="blogSection">
            <div class="container">
                {{- partial "recent_posts.html" . -}}
            </div>
        </section>
        <section class="recentClientSection">
            <div class="container">
                {{- partial "our-client.html" . -}}                
            </div>
        </section> 
        <section class="trustPartSection">
            <div class="container">
                {{- partial "widgets/categories.html" . -}}
                {{- partial "trusted-partners.html" . -}}
            </div>
        </section> 
        {{- partial "footer.html" . -}}
    </body>
</html>
