<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    {{- partial "head.html" . -}}
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body id="backtop">
           {{- partial "header.html" . -}}             
        <div class="heroSection">
            <div class="">
                {{- partial "hero.html" . -}}
            </div>
        </div>
        <section class="featureSection">
            <div class="container" id="aboutus">
                <div class="backtotop"><a href="#backtop"><i class="fa fa-chevron-up"></i></a></div>
                {{- partial "features.html" . -}}
            </div>
        </section>
        <section class="where-to-buy">
            <div class="container" id="where-to-buy">
                {{- partial "wheretobuy.html" . -}}
            </div>
        </section>      
        <section class="howtouse">
            <div class="container" id="how-to-use">
                {{- partial "howtouse.html" . -}}                
            </div>
        </section> 

        <section class="contactus">
            <div class="container" id="contactus">
                {{- partial "contact.html" . -}}                
            </div>
        </section> 
       
        {{- partial "footer.html" . -}}
    </body>
</html>
