<div id="footer">   
    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
       <div class="row">
            <div class="col-md-3">
                <div class="leftabout">
                    <a class="navbar-brand text-white" href="/" title="{{ .Site.Title }}">
                        {{ with .Site.Params.logo }}
                                <img src="{{ . | absURL }}" alt="logo">
                              {{ end }}
                              {{ .Site.Title }}
                    </a>
                    {{ with .Site.Params.footer }}
                    <p>{{ .description }}</p>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-4 offset-1">
                <div class="midabout">
                    {{ with .Site.Params.footerInformation}}
                         <h6>{{ .title }}</h6>
                    {{ end }}     
                    <ul>
                        <li>
                            {{ with .Site.Menus.main }}
                            {{ $navbar_len := len . }}
                            {{ range $i, $nav_item := . }}
                                <a class="" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}">
                                    {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                                </a>                          
                            {{ end }}
                        {{ end }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightabout">                
                {{ with .Site.Params.footerContactus}}
                    <h6>{{ .title }}</h6>
                    <p class="adress">{{ .address }}</p>
                    <span>{{ .tel }}</span><br>
                    <a href="{{ .url }}" >{{ .text }}</a>
                 {{ end }} 
                <ul class="mt-3">
                    <li>
                {{ range $item := .Site.Params.socialIcons }}
                <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
                {{ end }}
                </li>
                </ul>
              
            </div>
            </div>
       </div>
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
        <div class="container text-center p-2 mostftr">
            <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
