<div class="container" id="howtouse">
    <div class="row">
        <div class="heading text-center">
            <h2>{{ .Site.Params.howtouse.title }}</h2>
            
        </div>                        
                <div class="row align-items-center">
                    {{ range .Site.Data.howtouse }} 
                    
                     <div class="col-md-4">
                      <div class="howtouseit">
                        <h2>{{ .title | safeHTML }}</h2> 
                        <p>{{ .description | safeHTML }}</p>                        
                      </div>
                     </div>
                      
                    {{ end }}
                </div>
    </div>
    <!-- /.row -->
</div>

